# Секреты
.env
*.key
*.pem

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Docker artifacts
*.tar.gz

# Медиафайлы
media/
app/media/

# IDE
.idea/
.vscode/
*.swp

.venv/
.idea/
pre_for_github.py
